<%- include('../partials/header') %>

<main>
    <h1>Danh sách người dùng</h1>
    <ul>
        <% if (users.length > 0) { %>
            <% users.forEach(user => { %>
                <li><%= user.name %> - <%= user.email %></li>
            <% }) %>
        <% } else { %>
            <p>Không có người dùng nào.</p>
        <% } %>
    </ul>
</main>

<%- include('../partials/footer') %>